@import 'base';


.geral {
  @extend .mx-auto;
  padding-top: 90px;
}

.grid {
  @extend .row
}

.grid-item {
  @extend .m-0, .p-2, .col-12, .col-md-6, .col-lg-4, .col-xl-3;
  max-height: 400px;
  overflow: hidden;
}

.grid-image {
  @extend .img-fluid;
}

.contato-texto {

}

.contato-item {
  @extend .col-2, .px-0;

}

.contato-icone {
  @extend .d-xl-inline, .d-md-block, .d-sm-block;
}

.contato-titulo {
  @extend .pb-2;
}
